<div class="container content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="content-heading">SERVICES</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p class="services">We offer three packages to accommodate your specific decluttering needs. All sessions are three hours in length. Regardless of the package you select, we will provide two certified organizers to be present for the entire session. If you are unsure where to begin, a good rule of thumb is to choose a package based on both the size and complexity of your space.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-4 packages">
      <div class="thumbnail bg-dark">
        <i class="fa fa-bed fa-5x card-img-top"></i>
        <div class="caption">
          <h3>Package A</h3>
          <p><strong>1 Session for $150</strong></p>
          <p>Ideal for studios and 1 bedrooms, or clients who want to focus on one specific area of space</p>
          <%= link_to "SELECT", edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 packages">
      <div class="thumbnail bg-dark">
        <i class="fa fa-home fa-5x card-img-top"></i>
        <div class="caption">
          <h3>Package B</h3>
          <p><strong>2 Sessions for $280</strong></p>
          <p>Ideal for up to 2 bedrooms, or clients who want to make substantial changes to a few areas in their home</p>
          <%= link_to "SELECT", edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
     <div class="col-md-4 packages">
      <div class="thumbnail bg-dark">
        <i class="fa fa-building fa-5x card-img-top"></i>
        <div class="caption">
          <h3>Package C</h3>
          <p><strong>3 Sessions for $390</strong></p>
          <p>Ideal for more than 2 bedrooms, or for clients with large and spacious living conditions</p>
          <%= link_to "SELECT", edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>