<div class="container content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="section-heading" style="color: #F05F40">THE CLUTTER SERVICES</h2>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 text-center">
    <p>We offer three packages to accommodate your specific decluttering needs. Regardless of the package you choose, we will ensure to align you with your goals and intended outcomes for the session. If you are unsure where to begin, a good rule of thumb is to choose a package based on both the size and complexity of your project.</p>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-4 packages">
      <div class="card">
        <i class="fa fa-bed fa-5x card-img-top"></i>
        <div class="card-block">
          <h3 class="card-title" style="color: #F05F40">Package A</h3>
          <p><strong>3 hours at $60 / hour</strong></p>
          <p class="card-text">Ideal for studios and 1 bedrooms, or clients who want to focus on one specific area of space</p>
          <%= link_to "SELECT", edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 packages">
      <div class="card">
        <i class="fa fa-home fa-5x card-img-top"></i>
        <div class="card-block">
          <h3 class="card-title" style="color: #F05F40">Package B</h3>
          <p><strong>5 hours at $50 / hour</strong></p>
          <p class="card-text">Ideal for 2 bedrooms, or clients who want to make substantial changes to a few areas</p>
          <%= link_to "SELECT", edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 packages">
      <div class="card">
        <i class="fa fa-building fa-5x card-img-top"></i>
        <div class="card-block">
          <h3 class="card-title" style="color: #F05F40">Package C</h3>
          <p><strong>7 hours at $40 / hour</strong></p>
          <p class="card-text">Ideal for more than 2 bedrooms, or for clients with highly complex living spaces</p>
          <%= link_to "SELECT", edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>