<hr>
<h3 style="color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">The Clutter Method</h3>
<p>Declutter. Organize. Maintain.</p>
<ul>
  <li><strong>Declutter:</strong> Together we examine and sort your belongings so that you are left with only the items that bring you the most value.</li>
  <li><strong>Organize:</strong> We ensure that all of your possessions have a purposeful home, reducing the stress and decision making associated with "cleaning up."</li>
  <li><strong>Maintain:</strong> We provide unique tips and techniques to help you develop systems that make it possible to maintain your new and improved lifestyle.</li>
</ul><br>
<hr>
<h3 style="color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">The Clutter Process</h3>
<p>Consultation. Assessment. Transformation.</p>
<ul>
  <li><strong>Consultation:</strong> During the phone consultation, we will discuss your organizational goals. This will help us determine the scope of the project.</li>
  <li><strong>Assessment:</strong> The first 30 minutes of the at-home session will include a tour and assessment of the space. We will discuss the specific approach for the day.</li>
  <li><strong>Transformation:</strong> For the duration of the session, we will collaborate with you on executing our approach to meet your goals, leaving you with a calm and welcoming space to live and work.</li>
</ul><br>
<hr>