<h3>Hello <%= @referral_name %>,</h3>
<p>
  <%= @user.name %> recommended you to join <a href="https://clutterrfree.herokuapp.com" style="text-decoration: none; color: #F05F40" target="_blank"><strong>Clutter</strong></a>! We are a team of professional organizers who provide expertise in space efficiency, habit forming, and sustainable systems. Feel free to sign up <a href="https://clutterrfree.herokuapp.com/users/sign_up" style="text-decoration: none; color: #F05F40" target="_blank"><strong>HERE</strong></a> for a free phone consultation. You will also receive a <strong>10% referral discount</strong> when you book a session with us. Please do not hesitate to ask any questions. Thank you!
</p>
<p>- The Clutter Team</p>
<h1 style="font-size: 30px; color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">C L U T T E R</h1>
<hr>
<h3 style="color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">The Clutter Method</h3>
<p>Declutter. Organize. Maintain.</p>
<ul>
  <li><strong>Declutter:</strong> Together we will work to sort your belongings so you are left with only the items that bring you the most value.</li>
  <li><strong>Organize:</strong> We will ensure that all of your possessions have a specific, purposeful home. This reduces the stress and decision making typically associated with “cleaning up.”</li>
  <li><strong>Maintain:</strong> We provide unique tips and techniques to help you develop systems that make it easier to maintain your new and improved lifestyle.</li>
</ul><br>
<hr>
<h3 style="color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">The Clutter Process</h3>
<p>Consultation. Assessment. Transformation.</p>
<ul>
  <li><strong>Consultation:</strong> During the phone consultation, we will discuss your organizational goals. This will help us determine the scope of the project.</li>
  <li><strong>Assessment:</strong> The first 30 minutes of the at-home session will include a tour and assessment of the space. We will discuss the specific approach for the day.</li>
  <li><strong>Transformation:</strong> For the duration of the session, we will collaborate with you on executing our approach to meet your goals, leaving you with a calm and welcoming space to live and work.</li>
</ul><br>
<hr>