<h3>Hello <%= @referral_name %>,</h3>
<p>
  <%= @user.name %> recommended you to join Clutter! We are a team of professional organizers who provide expertise in space efficiency, habit forming, and sustainable systems. Feel free to sign up <a href="https://clutter-free.herokuapp.com/users/sign_up" target="_blank">here</a> for a free phone consultation. You will also receive a 10% referral discount when you book a session. Please do not hesitate to ask any questions. Thank you!
</p>
<p>- The Clutter Team</p>
<h1 style="font-size: 30px; color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">C L U T T E R </h1>