<p>Hello <%= @referral_name %>,</p>
<p>
  Your friend, <%= @user.name.split(' ').first %>, has recommended you to join <a href="https://clutterrfree.herokuapp.com" style="color: #008080" target="_blank"><strong>Clutter</strong></a>! We are a team of professional organizers dedicated to helping our clients transform their homes and their lifestyles.  
</p>
<p>
Sign up <a href="https://clutterrfree.herokuapp.com/users/sign_up" style="color: #008080" target="_blank"><strong>HERE</strong></a> for a <strong>free phone consultation</strong> to learn more about our services. You will also receive a 10% referral discount when you book a session today!
</p>
<p>
  Please do not hesitate to ask any questions. Thank you!
</p>
<p>Sincerley,<br>The Clutter Team</p>
<h1 style="font-size: 30px; color: #008080; font-family: 'Open Sans', 'Helvetica Neue'">C L U T T E R</h1>
<%= render 'signature' %>