<p>Hello <%= @user.name.split(' ').first %>,</p>
<p>
  We hope you are looking forward to your next session with Clutter. Your appointment is on <a href="https://clutterrfree.herokuapp.com/users/edit" style="text-decoration: none" target="_blank"><strong style="color: #F05F40"><%= @user.third_appointment.strftime("%A %B %e at %l:%M %P") if @user.third_appointment %></strong></a>.
</p>
<p>
  As a reminder, here are a few tips to help you prepare for our next visit: 
</p>
<ul>
  <li>Start thinking about the spaces that you want to focus on the most during our session together.</li>
  <li>Remove all obvious trash within those areas of your home. This will allow us to maximize the time spent organizing.</li>
  <li>Envision what the ideal version of your home would look like, as this is what the goal will be for the day.</li>
</ul>
<p>
  Please do not hesitate to ask any questions. Thank you!
</p>
<p>Sincerely,<br>The Clutter Team</p>
<h1 style="font-size: 30px; color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">C L U T T E R</h1>