<h3>Hello <%= @user.name %>,</h3>
<p>
  Welcome to Clutter! Congratulations on taking the first step in decluttering your space and mind, one room at a time. At Clutter we are dedicated to transforming our clients’ homes into meticulously structured, organizational systems tailored to their personal lifestyles. Our proven process allows individuals to reduce the chaos created by their environment so they can focus on the things that truly matter in life.
</p>
<p>
  <strong>To begin your new journey, please provide us with the best time of day to reach you, along with your contact information, so we can schedule a <span style="color: #F05F40">free phone consultation</span></strong>. This phone call will give us an opportunity to get to know each other, dig deeper into our approach, and answer any of your questions.
</p>
<p>
  Looking forward to working with you!
</p>
<p>- The Clutter Team</p>
<hr>
<h3>The Clutter Method</h3>
<p>Declutter. Organize. Maintain.</p>
<ul>
  <li><strong>Declutter:</strong> Together we will work to sort your belongings so you are left with only the items that bring you the most value.</li>
  <li><strong>Organize:</strong> We will ensure that all of your possessions have a specific, purposeful home. This reduces the stress and decision making typically associated with “cleaning up.”</li>
  <li><strong>Maintain:</strong> We provide unique tips and techniques to help you develop systems that make it easier to maintain your new and improved lifestyle.</li>
</ul><br>
<hr>
<h3>The Clutter Process</h3>
<p>Consultation. Assessment. Transformation.</p>
<ul>
  <li><strong>Consultation:</strong> During the phone consultation, we will discuss your organizational goals. This will help us determine the scope of the project.</li>
  <li><strong>Assessment:</strong> The first 30 minutes of the at-home session will include a tour and assessment of the space. We will discuss the specific approach for the day.</li>
  <li><strong>Transformation:</strong> For the duration of the session, we will collaborate with you on executing our approach to meet your goals, leaving you with a calm and welcoming space to live and work.</li>
</ul><br>
<hr>
<h1 style="font-size: 30px; color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">C L U T T E R </h1>