<p>Hello <%= @user.name %>,</p>
<p>
  Welcome to Clutter! Congratulations on taking the first step in decluttering your space and mind, one room at a time. At Clutter, we are dedicated to transforming our clients’ homes into meticulously structured, organizational systems tailored to their personal lifestyles. Our proven process allows individuals to reduce the chaos created by their environment so they can focus on the things that truly matter in life.
</p>
<h4>How To Get Started:</h4>
<ol>
  <li>
  Please reply to this email with the best time of day to reach you, along with your contact information, so we can schedule a <strong>free phone consultation</strong>. This phone call will give us an opportunity to get to know each other, allow you to dig deeper into our approach, and answer any of your questions.
  </li><br>
  <li>
    Log in so you can access <a href="https://clutterrfree.herokuapp.com/approach" style="color: #F05F40" target="_blank"><strong>The Clutter Approach</strong></a> to learn more about how we break down each area of your home. 
  </li><br>
  <li>
    Visit the <a href="https://clutterrfree.herokuapp.com/services" style="color: #F05F40" target="_blank"><strong>Services</strong></a> section to figure out which package best suits your needs.
  </li><br>
  <li>
    Fill out your <a href="https://clutterrfree.herokuapp.com/users/edit" style="color: #F05F40" target="_blank"><strong>Profile</strong></a> with your current phone number and home address.
  </li>
</ol>
<p>
  Looking forward to working with you!
</p>
<p>- The Clutter Team</p>
<h1 style="font-size: 30px; color: #F05F40; font-family: 'Open Sans', 'Helvetica Neue'">C L U T T E R</h1>
<%= render 'signature' %>