<section id="about" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">HOW IT WORKS</h2>
        <hr class="light">
        <p class="text-faded" style="font-size: 18px">Based on years of proven organizational tactics and strategies, our team will guide you through a step by step process that will change the way you live your life. Throughout the process, you will be provided with expertise in space efficiency, habit forming, and sustainable systems. These personalized solutions will empower you to think beyond your physical possessions and focus on a clutter-free lifestyle.</p>
      </div>
    </div>
  </div>
</section>