<section id="method" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">METHOD</h2>
        <hr class="light">
      </div>
      <div class="col-md-4 text-center">
        <div class="method-box">
          <i class="fa fa-4x fa-trash-o"></i>
          <h3>Declutter</h3>
          <p>Together we examine and sort your belongings so that you are left with only the items that bring you the most value.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="method-box">
          <i class="fa fa-4x fa-sitemap"></i>
          <h3>Organize</h3>
          <p class="text-white">We ensure that all of your possessions have a purposeful home, reducing the stress and decision making associated with "cleaning up."</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="method-box">
          <i class="fa fa-4x fa-retweet"></i>
          <h3>Maintain</h3>
          <p class="text-white">We provide tips and techniques to help you develop systems that make it possible to maintain your new and improved lifestyle.</p>
        </div>
      </div>
    </div>
  </div>
</section>