<section id="process" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">PROCESS</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="process-box">
          <i class="fa fa-4x fa-phone text-primary"></i>
          <h3>Consultation</h3>
          <p class="text-black">First, we will schedule a free phone consultation to learn more about you and your goals.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="process-box">
          <i class="fa fa-4x fa-list text-primary"></i>
          <h3>Assessment</h3>
          <p class="text-black">Next, we will conduct an at-home visit to assess your environment and create a tailored plan.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="process-box">
          <i class="fa fa-4x fa-handshake-o text-primary"></i>
          <h3>Transformation</h3>
          <p class="text-black">Finally, we will transform your space and assist you in maintaining a brand new lifestyle.</p>
        </div>
      </div>
    </div>
  </div>
</section>