<section id="team" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">TEAM</h2>
        <hr class="light">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 text-center team">
        <h1>Lauren Cattano</h1>
        <%= image_tag "team.png", height: 200, width: 185, :class => "img-circle", :style => "margin: 20px 0" %>
        <h3>CEO</h3>
        <h4><em>Chief Executive Organizer</em></h4>
        <p>Hailing from NYC, Lauren graduated with a degree in Public Health from George Washington University and a Masters degree in Education from Johns Hopkins University. After over 5 years in Education, Lauren has combined her passion for teaching with her love for minimalism and organization as an organizational consultant.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 text-center team">
        <h1>Sahil Mehta</h1>
        <%= image_tag "sahil.png", height: 200, width: 185, :class => "img-circle", :style => "margin: 20px 0" %>
        <h3>CTO</h3>
        <h4><em>Chief Tidying Officer</em></h4>
        <p>From LA to the Bay, Sahil graduated with a bachelor's degree in Business Administration from the University of California, Riverside before enrolling in Bloc to study computer science. He is able to maintain a healthy mind and stay focused on his goal of becoming a software engineer by keeping his code just as clean as his home.</p>
      </div>
    </div>
  </div>
</section>