<section id="testimonials" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center testimonial">
        <p>"I am so happy with everything we were able to accomplish in a single day! My days are much less stressful now that my place is clean and clutter-free."</p>
        <h4>Rachel Kim</h4>
      </div>
      <div class="col-md-6 text-center testimonial">
        <p>"Before my sessions, I had no idea where to start with organizing my home. Lauren and Sahil were so helpful and supportive throughout the whole process."</p>
        <h4>Daniel Rodriguez</h4>
      </div>
    </div>
    <div class="row text-center" style="margin-top: 50px">
      <div class="col-md-12">
        <%= link_to 'FREE CONSULTATION', new_user_registration_path, :class => "btn btn-lg btn-primary", :style => "font-size: 16px" %>
      </div>
    </div>
  </div>
</section>