<section id="testimonials" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center testimonial">
        <a href="https://twitter.com/chaitra_/status/957816521761292288" target="_blank">
          <%= image_tag "testimonials/chay.png", class: 'tweet' %>
        </a>
      </div>
      <div class="col-md-6 text-center testimonial">
        <a href="https://twitter.com/NarMKumar/status/963941821138087936" target="_blank">
          <%= image_tag "testimonials/nar.png", class: 'tweet' %>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 50px">
      <%= link_to 'FREE CONSULTATION', new_user_registration_path, :class => "btn btn-lg btn-primary", :style => "font-size: 16px" %>
    </div>
  </div>
</section>