<section id="testimonials" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center testimonial">
        <p>"I am so happy with everything we were able to accomplish in a single day. My brain is far less foggy now that my place is clean and clutter-free."</p>
        <h4>Raj Pandey</h4>
      </div>
      <div class="col-md-6 text-center testimonial">
        <p>"Breaking through the paralysis of not knowing how to stay organized was life altering. I have so much more energy nowadays to focus on the things that truly matter."</p>
        <h4>Esther Chung</h4>
      </div>
    </div>
  </div>
</section>