<h3>This Service Agreement is between the service provider, Clutter and the Client.</h3>
<p>The client will be referred to as “You”, “Your” or the “Client”. Clutter will provide services for the Client according to the terms below.</p>
<ul>
  <ol>Services to Be Performed</ol>
​  <p>With your assistance and presence, Clutter will perform the professional onsite decluttering and organizing services for the pre-agreed upon hourly fee stated in the Email “Phone Consult Follow Up.” Additional services such as trash and recycling in excess of your weekly trash removal service or delivering donation items are not included in the service.</p>
  <ol>Quality of Performance</ol>
​  <p>Clutter agrees to complete the performance of these services in a prompt and professional manner.</p>
  <ol>Confidentiality</ol>
​  <p>All work that we do together is strictly confidential, including: your name, the nature of the services provided to you, and photographs of your space unless you’ve granted us your specific consent.</p>
  <ol>Cancellation Policy</ol>
​  <p>Due to the nature of the service we provide, our deposit is considered payment for preparatory work and is thus non-refundable. We will, however, happily reschedule your service provided we receive written notice of your request to reschedule at least 48 hours before your session start time. Your deposit will be applied to your future service. If Clutter arrives at Your scheduled appointment and You are not
available, You will be responsible for 100% of the pre-agreed upon session fee.</p>
  <ol>Independent Contractor</ol>
​  <p>It is expressly agreed that Clutter is acting as an independent contractor in performing their services hereunder. This Agreement does not create a partnership, employer employee or agency relationship. Neither party has the authority to enter into contracts on behalf of the other party. Clutter shall be responsible for all of its income and employment tax.</p>
  <ol>Payment</ol>
​  <p>The payment of the agreed upon service rate is due in full upon completion of your service, less the deposit fee of $100. We accept cash and personal check.</p>
  <ol>Liability</ol>
​  <p>All final decisions on what is kept, moved, donated or thrown away is the responsibility of the Client and Clutter shall not be liable in any way for damages resulting from such decisions or actions.</p>
  <ol>Indemnity</ol>
​  <p>Client shall indemnify, defend and hold New Minimalism, along with its members, managers and employees, harmless from and against any third party claims, damages, liabilities, and costs, including reasonable attorneys’ fees, or losses of any kind or nature whatsoever arising out of or
any actual or alleged negligent or intentional act or omission of Client, including, but not limited to, any violation of law, legislation, directive, regulation or statute. The provisions of this Article shall survive the termination of this Contract.</p>
  <o>Entire Agreement.</o>
​  <p>This Service Agreement and the written assessment form the entire agreement concerning the organizing project referenced above (the “Agreement”). This Agreement supersedes, and the terms of this Agreement govern, any prior agreements, proposals, or other communications, oral or written whether part of a purchase order or otherwise. Changes to the terms of this Agreement are not effective unless agreed to in writing by both Clutter and You.</p>
</ul>

<p>By checking the “I agree” box on the “Client Intake Form” you accept the terms of this Agreement in its entirety. We look forward to working with you!</p>