<br>
<div class="jumbotron text-center">
    <h1>CLUTTER</h1>
    <p>Dedicated to helping clients develop sustainable lifestyles</p>
    <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %></p>
</div><br>

<div class="row text-center">
    <div class="col-md-4">
        <span style="font-size: 50px" class="glyphicon glyphicon-bed"></span>
        <h2>Reclaim</h2>
        <p>First, we reclaim the functionality of your bedroom, closets, kitchen, living room and office.</p>
    </div>
    <div class="col-md-4">
        <span style="font-size: 50px" class="glyphicon glyphicon-scissors"></span>
        <h2>Redesign</h2>
        <p>Next, we strive to redesign and repurpose your existing pieces to improve the organizational flow of your everyday routines.</p>
    </div>
    <div class="col-md-4">
        <span style="font-size: 50px" class="glyphicon glyphicon-picture"></span>
        <h2>Reinvent</h2>
        <p>Finally, we take action to reinvent your entire living and work space from top to bottom.</p>
    </div>
</div>