/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/** { 
  border: 1px solid red; 
}*/

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  padding-top: 70px;
  position: relative;
  min-height: auto;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('header.jpg');
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

hr.dark {
  border-color: #377BB5;
}

hr.service {
  border-color: black;
  border-width: 1px;
  max-width: 100%;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

.alert-success {
  background-color: #499871;
  border-color: transparent;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

.alert-warning {
  background-color: #984949;
  border-color: transparent;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

.wrap {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.bg-primary {
  color: #fff;
  background-color: #F05F40;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.bg-light {
  color: #222;
  background-color: #fff;
}

#error_explanation h2 {
  display: none;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.8s;
}

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover {
  color: #eb3812;
}

.navbar-default .nav > li > a {
  color: #222;
  font-weight: 550;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-default .nav > li > a:hover {
  color: #F05F40;
}

a.btn.btn-primary.sign-up {
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
}

.form {
  margin-top: 100px;
}

.btn-primary,
.btn-primary:visited {
  border-radius: 0;
  border: 2px solid white !important;
  background-color: #F05F40 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border: 2px solid white !important;
  background-color: #eb3812 !important;
}

.shared-links,
.shared-links:visited {
  color: white !important;
  text-decoration : none !important;
}

.shared-links:hover,
.shared-links:active,
.shared-links:focus {
  color: #F05F40 !important;
  text-decoration : none !important;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: none;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 1);
  }
  .navbar-default .navbar-header .navbar-brand:hover {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:visited,
  .navbar-default .nav > li > a:focus  {
    color: rgba(255, 255, 255, 1);
  }
  .navbar-default .nav > li > a:hover {
    color: white;
  }
  .navbar-default.scroll {
    background-color: white;
    border-color: rgba(255, 255, 255, 0.1);
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-default.scroll .navbar-header .navbar-brand {
    color: #F05F40;
  }
  .navbar-default.scroll .nav > li > a,
  .navbar-default.scroll .nav > li > a:visited,
  .navbar-default.scroll .nav > li > a:focus {
    color: #222;
  }
  .navbar-default.scroll .nav > li > a:hover {
    color: #F05F40;
  }
  .active {
    color: #F05F40;
  }
  a.btn.btn-primary.sign-up.scroll:hover {
    color: black;
  }
}