/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require custom.scss  
 *= require_self
 *= require animate
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/** { 
  border: 1px solid red; 
}*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-image {
  background-image: url('header.jpg');
}

.bg-primary {
  color: #fff;
  background-color: #F05F40;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.bg-light {
  color: #222;
  background-color: #fff;
}

.orange {
  color: #F05F40;
}

section {
  padding: 100px 0;
}

h2.section-heading {
  margin-top: 0;
  font-size: 40px;
}

h2.content-heading {
  margin-top: 0;
  font-size: 40px;
  color: #F05F40;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.modal {
  margin-top: 100px;
}

div.modal-content {
  color: #fff;
  margin: 0 auto;
}

div.modal-header {
  background-color: #F05F40;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.modal-body {
  color: #222;
}

div.modal-footer {
  text-align: center;
}

.content {
  margin: 30px auto;
}

.form {
  margin: 100px auto;
}

.alert-success {
  color: #ffffff;
  font-size: 16px;
  background-color: #499871;
  border-color: transparent;
  border-radius: 10px;
}

.alert-warning {
  color: #ffffff;
  font-size: 16px;
  background-color: #984949;
  border-color: transparent;
  border-radius: 10px;
}

.wrap {
  width: 100%;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.8s;
}

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover {
  color: #eb3812;
}

.navbar-default .nav > li > a {
  color: #222;
  font-weight: 550;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-default .nav > li > a:hover {
  color: #F05F40;
}

a.btn.btn-primary.sign-up {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
}

a.btn.btn-primary.sign-up {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
}

a.btn.btn-primary.sign-up:hover {
  color: #fff;
}

.btn-primary,
.btn-primary:visited {
  border-radius: 0;
  border: 2px solid white !important;
  background-color: #F05F40 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border: 2px solid white !important;
  background-color: #eb3812 !important;
}

.shared-links,
.shared-links:visited {
  color: white !important;
  text-decoration : none !important;
}

.shared-links:hover,
.shared-links:active,
.shared-links:focus {
  color: #F05F40 !important;
  text-decoration : none !important;
}

@media (min-width: 992px) {
  .navbar-default {
    background-color: transparent;
    border-color: none;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 1);
  }
  .navbar-default .navbar-header .navbar-brand:hover {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:visited,
  .navbar-default .nav > li > a:focus  {
    color: rgba(255, 255, 255, 1);
  }
  .navbar-default .nav > li > a:hover {
    color: white;
  }
  .navbar-default.scroll {
    background-color: white;
    border-color: rgba(255, 255, 255, 0.1);
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-default.scroll .navbar-header .navbar-brand {
    color: #F05F40;
  }
  .navbar-default.scroll .nav > li > a,
  .navbar-default.scroll .nav > li > a:visited,
  .navbar-default.scroll .nav > li > a:focus {
    color: #222;
  }
  .navbar-default.scroll .nav > li > a:hover {
    color: #F05F40;
  }
  a.btn.btn-primary.sign-up.scroll,
  a.btn.btn-primary.sign-up.scroll:hover {
    color: white;
  }
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}