header .header-content {
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  letter-spacing: 5px;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

header .header-content .header-content-inner hr {
  margin: 40px auto;
}

header .header-content .header-content-inner p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.method-box {
  opacity: 0;
  max-width: 400px;
  margin: 50px auto 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.method-box h3 {
  font-size: 30px;
}

.method-box p {
  font-size: 18px;
  margin-bottom: 0;
}

.process-box {
  opacity: 0;
  max-width: 400px;
  margin: 50px auto 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.process-box h3 {
  font-size: 30px;
}

.process-box p {
  font-size: 18px;
  margin-bottom: 0;
}

.team {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.approach {
  font-size: 18px;
}

.carousel {
  background-color: transparent;
}

a.left.carousel-control, 
a.right.carousel-control {
  background-image: none;
}

.carousel-inner .img {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border: 5px solid #fff;
}

.carousel-inner p {
  font-size: 16px;
  color: #fff;
}

.carousel-inner strong {
  color: #F05F40;
}

span.arrows.glyphicon.glyphicon-chevron-left {
  margin-top: -125px;
}

span.arrows.glyphicon.glyphicon-chevron-right {
  margin-top: -125px;
}

.services {
  font-size: 16px;
}

.packages {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

div.thumbnail {
  padding: 35px;
}

.caption h3 {
  color: #F05F40;
}

.thumbnail p {
  color: #fff;
}

.testimonial {
  padding-top: 30px;
  padding-bottom: 30px;
}

.testimonial .tweet {
  height: 130px;
  width: 350px;
  border-radius: 10px;
  border: 3px solid #2AA3EF;
}

.testimonial p {
  font-style: oblique;
  font-size: 18px;
  padding: 5px 10px;
}

footer {
  padding: 30px;
  display: table;
}

footer p { 
  width: 1132px;
  display: table-cell;
  vertical-align: middle;
}

p.copyright { 
  text-align: left;
}

p.social-media {
  text-align: right;
}

i.fa.fa-facebook-square.fa-2x {
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

i.fa.fa-instagram.fa-2x {
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

i.fa.fa-twitter-square.fa-2x {
  color: white;
  padding-left: 2px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 80px;
    letter-spacing: 10px;
  }
  header .header-content .header-content-inner p {
    font-weight: 500;
    font-size: 36px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .approach {
    font-size: 20px;
  }
  .testimonial .tweet {
    height: 148px;
    width: 400px;
    border-radius: 10px;
    border: 3px solid #2AA3EF;
  }
  .carousel-inner .img {
    height: 475px;
    width: 525px;
  }
  .carousel-inner p {
    font-size: 18px;
  }
  span.arrows.glyphicon.glyphicon-chevron-left {
    margin-top: -100px;
  }
  span.arrows.glyphicon.glyphicon-chevron-right {
    margin-top: -100px;
  }
  .services {
    font-size: 18px;
  }
  .packages {
    margin: 0px;
  }
  i.fa.fa-facebook-square {
    padding-left: 5px;
    padding-right: 5px;
  }
  i.fa.fa-instagram {
    padding-left: 5px;
    padding-right: 5px;
  }
  i.fa.fa-twitter-square {
    padding-left: 5px;
  }
}

@media (min-width: 992px) {
  .method-box {
    margin: 20px auto 0;
  }
  .method-box p {
    font-size: 20px;
  }
  .process-box {
    margin: 20px auto 0;
  }
  .process-box p {
    font-size: 20px;
  }
  .team {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  .testimonial .tweet {
    height: 185px;
    width: 500px;
    border-radius: 10px;
    border: 3px solid #2AA3EF;
  }
}