<footer class="wrap bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> Clutter 2018</p>
        <!-- <p><i class="fa fa-instagram fa-lg"></i></p> -->
      </div>
    </div>
  </div>
</footer>