<footer class="wrap bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright" style="font-size: 18px"><i class="fa fa-copyright"></i> Clutter 2018 </p>
        <p class="social-media">
          <a href="https://www.facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://www.instagram.com/clutterrfree" title="instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="https://www.twitter.com/clutterrfree" title="twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>