<footer class="wrap bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright"><i class="fa fa-copyright"></i> 2018 Clutter</p>
        <p class="social-media">
          <a href="https://www.facebook.com/groups/clutterrfree" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://www.instagram.com/clutterrfree" title="Instagram" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="https://www.twitter.com/clutterrfree" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>