<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center">Welcome To Clutter</h3>
      </div>
      <div class="modal-body text-center">
        <h4>Sign up today for a FREE consultation!</4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary', style: 'border-radius: 5px' %>
      </div>
    </div>
  </div>
</div>